body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #7926c8;
    background: linear-gradient(to bottom,#9230ee 10%,#7926c8 57%);
}

body{
    background-color:#6821aa;
    background: linear-gradient(to left,#6821aa ,#9230ee,#6821aa);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    font-size: 40px;
    color:#000000;
}
.menu{
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content:center;
	align-items: center;
	background-color: #7926c8;
}
.menu a{
    font: 13px "Comic Sans MS";
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}
.menu a:hover, .menu a.active{
    background-color: #6520a5;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
#image img{
    width: 100vw;
}
.wrapper{
    width: 600px;
    margin: 0 auto;
}
main{
    text-align: center;
}
main ul{
    list-style-type: none;
    color: aliceblue;
    padding: 0;
}
li{
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background-color:#6520a5;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition-duration: 1s;
    transition-property: width;
}
li:hover{
    background-color:#6520a5;
    width: 600px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
li a{
    color: white;
    text-decoration: none;
    font: 15px/1.5 "Comic Sans MS";
}